/** cursor style */
[contenteditable="true"] {
    cursor: text !important;
    white-space: pre-wrap !important;
}



/** CSS reset */

.button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}



/** add block */
.add-block {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background-color: white;
    transition: all 0.3s ease;
    box-sizing: border-box;
    margin-left: 1.3rem;
}

.add-block-wrapper {
    width: 100%;
    height: 3.125rem;
}

.add-block-wrapper:hover .add-block {
    display: flex;
}

/** and add block */



/** List  **/
.list {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.list-item-checkable input {
    margin-top: 0.5rem;
}

.list li div {
    display: inline-block !important;
    min-width: 100px;
    line-height: 1;
}

ol.johannes-content-element,
ul.johannes-content-element {
    padding-left: 1rem !important;
}

.johannes-content-element li>button {
    /* display: none; */
    display: none;
    position: absolute;
    margin-left: 10px;
    top: 0;

    flex-direction: row;
    align-items: start;
    justify-content: start;

}

.johannes-content-element li {
    position: relative;

}

.johannes-content-element li::before {
    margin-left: 0.3125rem;
}

.johannes-content-element li:hover>button {
    /* display: inline-block; */
    display: inline-flex;

}

p.johannes-content-element {
    display: inline-block;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.johannes-content-element .checkbox-list {
    list-style-type: none;
    padding-left: 0 !important;
}


.johannes-content-element .checkbox-list li {
    display: flex;
    flex-direction: row;
    justify-content: left;
}


.johannes-content-element ul.checkbox-list input[type="checkbox"]:checked+span {
    text-decoration: line-through;
}

/* ul.johannes-content-element:not(.checkbox-list),
ol.johannes-content-element:not(.checkbox-list) {
    padding-left: 1.5rem !important;
} */

/** Add line through text decoration to checked checkboxes text div */
.block input[type="checkbox"]:checked+div {
    text-decoration: line-through;
}

/** Remove the default list style and replace by another that works with display flex */
.block ol,
.block ul {
    list-style: none;
}

.block ul .list-item,
.block ol .list-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.block ol li {
    counter-increment: item;
}

.block ol li::before {
    content: counter(item) ".";
    margin-right: 0.3125rem;
    display: flex;
    /* width: 18px; */
    justify-content: flex-start;
}

.block ul li:not(.no-list-style)::before {
    content: "•";
    margin-right: 0.3125rem;
    display: flex;
    /* width: 18px; */
}

.list-item-checkable input {
    /* width: 18px; */
    margin-right: 0.3125rem;
}


/** and list **/



.drag-handler {
    color: #84888d;
    visibility: hidden;
    cursor: grab;
    align-self: start;
    padding-top: 0.33rem;
    position: absolute;
}

.drag-handler-wrapper {
    position: relative;
    height: 0;
    width: 0;
}



.drag-handler svg {
    /* background-color: red; */
}

.drag-handler svg use {
    /* background-color: blue; */
}

.drag-handler:active {
    cursor: grabbing;
}

.block {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    position: relative;
    max-width: 100%;
}

.block>*:not(.editor-only) {
    padding-left: 1.25rem !important;
}

.block:hover .drag-handler {
    visibility: visible;
    vertical-align: top;
    justify-content: start;
    transition: visibility 0.2s;
}

/* .block:hover .block-toolbar {
    visibility: visible;
} */

.drop-line {
    height: 1rem;
    background-color: #84888d;
    width: 100%;
}


.title h1 {
    margin-left: 1.3rem;
    line-height: 3rem;
}


[contenteditable="true"]:empty:focus {
    content: attr(data-placeholder);
    color: #84888d;
    pointer-events: none;
}

h1[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #84888d !important;
    display: block;
}

h1[data-placeholder]:focus:before {}


*[contenteditable="true"]:not(h1):empty:before {
    content: attr(data-placeholder);
    color: #84888acd;
    display: none;
}

*[contenteditable="true"]:not(h1):empty:hover:before {
    display: block;
}

cite[contenteditable="true"]:empty:before {
    display: block;
}

*[contenteditable="true"]:not(h1)[data-placeholder]:empty:focus:before {
    content: attr(data-placeholder);
    color: #84888acd !important;
    display: block;
}

li.div[contenteditable="true"]:empty:hover:before {
    content: attr(data-placeholder);
    color: #84888acd;
    display: block;
}



h1 {
    font-size: 2.5rem;
    font-weight: bolder !important;
}

.johannes-editor {
    width: 100%;

}

.content {
    width: 100%;
    box-sizing: border-box;
    /* background-color: red; */
}

.content .block .table-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}


/* pre {
    width: 100%;
} */

[contenteditable] {
    outline: none;
}

body {
    /* min-height: 2000px; */
    background-color: white;

    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



.editor {
    display: flex;
    margin-top: 80px;
}

p {
    color: #242424;
}


.block,
.block * {
    user-select: text;
}


.johannes-content-element {
    width: 100%;
    padding: 0;
    margin: 0;
    /* background-color: green; */
}


#johannesEditor {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.johannes-editor hr {
    width: 100%;
    height: 2px;
    visibility: visible;
    border: none;
    border-bottom: 1px solid rgba(55, 53, 47, 0.16);
}



.johannes-editor blockquote {
    margin: 0.5rem 0;
    padding-left: 20px;
    border-left: 4px solid rgb(55, 53, 47);
    font-style: italic;
    display: block;
}

.johannes-editor cite {
    padding-top: 1rem !important;
    display: inline-block;
}


.johannes-editor cite::before {
    content: '— ';
}






















#linkBox {
    z-index: 999999;
    width: fit-content;
    /* background-color: white; */
    background-color: white;
}

#linkBox .header {
    border-bottom: 1px solid rgba(55, 53, 47, 0.16);
    ;
    padding: 10px 20px;
    /* font-size: 0.75rem; */
    /* color: rgba(55, 53, 47, 0.6); */
    font-size: 0.86rem;
}

#linkBox .link-box-shell {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
}


#linkBox .link-box-shell input {
    width: 20rem;
    border: 1px solid rgba(55, 53, 47, 0.16);
    height: 1.5rem;
    border-radius: 4px;
    padding-left: 10px;
}


.ctrl-active .johannes-content-element a {
    cursor: pointer;
}




/* #linkBox {
    border-radius: 2px;
    padding: 20px;
    background-color: #f9f9f9;


    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 -2px 4px rgba(0, 0, 0, 0.02),
        -2px 0 4px rgba(0, 0, 0, 0.02),
        2px 0 4px rgba(0, 0, 0, 0.02);


    border: 1px solid #d0d0d0;
    width: fit-content;
    z-index: 999999;
    color: rgb(120, 119, 116);
    border-radius: none;
}


#linkBox input {
    width: 316px;
    padding: 8px 40px 8px 16px;

    border: 1px solid #949494;
    height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#linkBox input::selection,
#linkBox input:focus {
    border-radius: none;
} */

/** soft-box-shadow class */
.soft-box-shadow {
    margin: 0;
    padding: 0;
    border-radius: 2px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 -2px 4px rgba(216, 196, 196, 0.02),
        -2px 0 4px rgba(0, 0, 0, 0.02),
        2px 0 4px rgba(0, 0, 0, 0.02);

    border: 1px solid #d0d0d0;
}

/** and soft-box-shadow */


/** selection-wrapper class */
.select-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select-wrapper ul {
    position: absolute;
    background: white;
    flex-direction: column;
    width: fit-content;
    padding-bottom: 0.5rem;
    padding-left: 5px;
    padding-right: 5px;
    top: 2.2rem;
    color: rgb(55, 53, 47);
    padding-right: 0.3125rem;
}

.select-wrapper ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
    padding: 0.1875rem 0.3125rem;
    border-radius: 0.1875rem;
    user-select: none !important;
    font-size: small !important;
    font-weight: 500;
}

.select-wrapper ul li span,
.select-wrapper button span {
    display: inline-block;
    width: max-content;
    line-height: 100% !important;
}

.select-wrapper ul li .option-image {
    width: 1.375rem;
    height: 1.375rem;
    color: #242424;
    padding: 0 !important;
    margin: 0 !important;
}

.select-wrapper ul li .option-image svg {
    color: #4f4f4f;
    padding: 0 !important;
    margin: 0 !important;
}

.select-wrapper {
    position: relative;
    color: rgb(120, 119, 116);
}

.select-wrapper>button {
    color: rgba(55, 53, 47, 0.85);
}

.select-wrapper ul li>h3 {
    margin: 0;
    font-size: small !important;
    color: #37352fa6;
    margin: 0;
    padding: 0;
    font-weight: 600 !important;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
}

/** end selection wrapper **/



/** Text formatting Bar **/



.floating-toolbar {
    justify-content: space-between;
    padding: 8px 16px;
    background-color: white;
    width: fit-content;
    z-index: 999999;
    position: absolute;
    user-select: none;
}


.floating-toolbar .item {
    color: rgb(120, 119, 116);
    display: flex;
    align-items: center;
    gap: 10px;
}

.floating-toolbar .item>button {

    display: inline-flex;
    align-items: center;
}


.floating-toolbar select {
    color: rgb(120, 119, 116);
    border: none;
    font-size: 0.85rem;
    background-color: inherit;
}

.text-formatting-select-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#turnIntoButton span {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;

}

#turnIntoButton svg use {
    margin: auto;
}

/* code:not(pre code) {
    margin: 0;
    padding: 0;
    background-color: #d0d0d0;
    background-color: #f6f5f4;
    font-size: inherit;
    font-size: 1rem !important;
    border: 1px solid #0000001a;
    padding: 0 3px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
} */




/* a:not([href]) {
    background-color: #d3e3fd;
} */

.text-formatting-button-active {
    color: #2382e2;
}

.text-formatting-circle-active {
    border-color: #2382e2 !important;
}



#moreTextOptionSelect {
    position: absolute;
}

.moreTextOptionWrapper {
    position: relative;
}


.bgc-red {
    background-color: #FDDEDE;
}

.bgc-green {
    background-color: #D7F7DC;
}

.bgc-blue {
    background-color: #D9EDF6;
}

.bgc-yellow {
    background-color: #FAF4D1;
}

.bgc-grey {
    background-color: #E1E0E0;
}

p,
mark {
    line-height: 1;
}

#turnIntoSelect .option-image {
    /* display: none !important; */
}

.border-less-image {
    width: 24px;
    height: 24px;
}




/** Block Options **/

.block-options-wrapper {
    z-index: 999999;
    position: absolute;
    display: none;
}

.block-options {
    width: fit-content;
    max-height: 19rem;
    overflow-y: auto;
}

.block-options {
    padding: 0 0.625rem;
    background: white;
}

.block-options section h2 {
    font-size: small !important;
    color: #37352fa6;
    margin: 0;
    padding: 0;
    font-weight: 600 !important;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
    padding-left: 0.3125rem;
}

.block-options .option {
    padding: 0.3125rem 0.625rem;
    margin: 0.3125rem 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 0.6rem;
    border-radius: 3px;
}

.block-options .option:focus {
    outline: none;
    background-color: #e9e9e9;
    background-color: red;
    border: inherit;
}

.option-focused {
    outline: none;
    background-color: #e9e9e9;
    border: none;
}

.danger-option.option-focused,
.danger-option.option-focused svg {
    color: #EB5757 !important;
}



.block-options .option:focus-visible {
    outline: none;
    background-color: #e9e9e9;
    border: inherit;
}

/* .option-hover:hover {
    background-color: #e9e9e9;
    box-shadow: 0px 0px 0px 2px #e9e9e9;
    border-radius: 1px;
    transition: 0.1s ease;
} */

/* .select-wrapper>button, */

/* #turnIntoButton,
#colorTextButton {
    padding-left: 4px;
} */

#colorTextButton {
    margin-left: 0.625rem;
}

#turnIntoButton:not([disabled]):hover,
#colorTextButton:not([disabled]):hover,
#moreTextOptionButton:not([disabled]):hover,
.floating-toolbar .item>button:not([disabled]):hover {
    background-color: #e9e9e9;
    box-shadow: 0px 0px 0px 2px #e9e9e9;
    border-radius: 1px;
    transition: 0.1s ease;
}



.option[focused="true"] {
    background-color: #bde4ff;
}

.option-image {
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 0.1875rem;
    border: 1px solid #ccc;
    color: #4f4f4f;

    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    background-color: #ffff;
    box-sizing: border-box;
}

.option-image img {
    max-width: 2.875rem;
    max-height: 2.875rem;
}

.option-image svg {
    margin: 0;
    padding: 0;
    padding: 0.625rem;
    box-sizing: border-box;

}

.option-text * {
    margin: 0;
    padding: 0;

}

.option-text .block-title {
    font-size: small !important;
    font-weight: 500;
}

.option-text .block-description {
    font-size: small !important;
    color: rgba(55, 53, 47, 0.5);
}

/** End Block Options **/



/* #deleteBlockButton:hover svg,
#deleteBlockButton:hover {
    color: rgb(235, 87, 87) !important;
} */



.johannes-editor *::selection {
    /* background-color: rgba(211, 227, 253, 0.5) !important; */

    background-color: hsl(210 75% 50% / 1);
    color: white;
}

.johannes-editor mark,
.johannes-editor *:not(h1) {
    line-height: 1.5 !important;
}

.option {
    justify-content: space-between;
}

.text-option {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.625rem;
}




:root {
    /* font-size: 16px; */
    /* Tamanho padrão */
}

/* Para telas com densidade média */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    :root {
        font-size: 18px;
        /* Aumenta o tamanho da fonte para telas de alta densidade */
    }
}

/* Para telas com altíssima densidade */
@media only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (min--moz-device-pixel-ratio: 3),
only screen and (min-resolution: 288dpi),
only screen and (min-resolution: 3dppx) {
    :root {
        font-size: 20px;
        /* Ainda maior para telas de densidade muito alta */
    }
}











table.johannes-content-element {
    border-collapse: collapse;
    max-width: inherit;
    width: auto;
    display: flex;
    box-sizing: border-box !important;
}

table.johannes-content-element th,
table.johannes-content-element td {
    min-height: 20px;
}

table.johannes-content-element th,
table.johannes-content-element td {
    border: 1px solid #84888d;
    padding: 8px;
    text-align: left;
    align-items: start;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    vertical-align: top;
    min-width: 100px;
    max-width: 200px;
    /* box-sizing: border-box !important; */

    transition: border 100ms ease-out, box-shadow 100ms ease-out;

}

table.johannes-content-element td.selected,
table.johannes-content-element td:focus {
    outline: none;
    box-shadow: 0 0 0 1px #74b6db inset;
    border: 1px double #74b6db;

}

td {
    min-height: 1rem !important;
    line-height: 1rem;
}

td::placeholder {
    display: block;
}

td:empty:before {
    content: attr(data-placeholder);
    color: #84888acd;
    display: block !important;
    opacity: 0;
}

.table-wrapper {
    width: 100%;
}

.table-controller {
    position: relative;
    max-width: 100%;
}

.add-table-row {
    background-color: rgba(55, 53, 47, 0.06);
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 1rem;
    cursor: pointer;
    opacity: 0;
    user-select: none;
}

.add-table-column {
    position: absolute;
    right: -1.3125rem;
    background-color: rgba(55, 53, 47, 0.06);
    width: 1rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    top: 0;
    cursor: pointer;
    height: calc(100% - 1rem - 5px);
    opacity: 0;
    user-select: none;
}

.add-table-column:hover {
    opacity: 1;
}

.add-table-row:hover {
    opacity: 1;
}

.table-shell {
    max-width: 100%;
}



.table-option {
    background-color: white;
    width: fit-content;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: #f9f9f9;
    width: fit-content;
    z-index: 999999;
    position: absolute;
    user-select: none;
    padding: 8px 16px;
    display: none;
}


/** Callout **/

.callout-wrapper {
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.callout:hover .options-button {
    display: block !important;
}

.callout p {
    margin: 0;
}

.callout-background-red {
    background-color: #FDDEDE;
    border-color: #e4c8c8;
}

.callout-background-green {
    background-color: #D7F7DC;
    border-color: #c2dec6;
}

.callout-background-blue {
    background-color: #D9EDF6;
    border-color: #c3d5dd;
}

.callout-background-yellow {
    background-color: #fcf7df;
    border-color: #fbf5d6;
}

.callout-background-grey {
    background-color: #edecec;
    border-color: #e7e6e6;
}

.callout-background-none {
    background-color: transparent;
    border-color: #e7e6e6;

}

/** end callout */


/** mediaInputter **/
.mediaInputter {
    background-color: white;
}

/** mediaInputter **/


.no-selection {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.pointer {
    cursor: pointer;
}


/** upload/embed **/

.tab-container {
    font-size: 0.86rem;
    display: flex;
    flex-direction: column;
    transition: 0.1s ease;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    transition: visibility 0.2s ease;


    width: fit-content;
    /* background-color: white !important; */
    position: absolute;

}

.nav-underline {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(55, 53, 47, 0.16);
    padding: 10px 20px;
}

.nav-underline .nav-item {
    display: flex;
    margin-right: 15px;
}

.nav-underline .nav-link {
    cursor: pointer;
    text-decoration: none;
    color: rgb(55, 53, 47);
    color: rgba(55, 53, 47, 0.5);
    transition: 0.1s ease;
}


.nav-item.active .nav-link {
    color: #000;
}

.tab-content .content-data {
    display: none;
    padding: 20px;
    border-top: none;
    transition: 0.1s ease;
}

.tab-content .content-data.active {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.tab-content .text-info {
    font-size: 0.75rem;
    color: rgba(55, 53, 47, 0.6);
}

.nav-underline .nav-item {
    display: inline;
}

.embed-content input {
    width: 20rem;
    border: 1px solid rgba(55, 53, 47, 0.16);
    height: 1.5rem;
    border-radius: 4px;
    padding-left: 10px;
}


.upload-content label {
    display: block;
    border: 1px solid rgba(55, 53, 47, 0.16);
    border-radius: 4px;
    width: 20rem;
    text-align: center;
    padding: 4px;
    color: rgb(55, 53, 47);
    background-color: #fff;
    /* transition: 0.1s ease; */
}

.upload-content label:hover {
    background-color: #eeeeee;
}










/* Estilo para as alças de redimensionamento */
.resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.5);
    cursor: nwse-resize;
    /* Cursor de redimensionamento diagonal */
}

.resize-handle.se {
    bottom: 0;
    right: 0;
}

.spotify-embed {
    min-height: 152px;
    height: auto !important;
    padding-bottom: 0 !important;
    border-radius: .75rem !important;
}

.gist-embed {
    padding-bottom: 0 !important;
    min-height: 150px !important;
    overflow-y: auto;
}

.snippet-embed {
    padding-bottom: 0 !important;
    min-height: 150px !important;
    overflow-y: auto;
}

.embed-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: visible;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.iframe-wrapper {
    position: relative;
}



.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}







.x-resizable {
    resize: horizontal;
    overflow: auto;
    cursor: nesw-resize;
    min-width: 250px;
}

.y-resizable {
    resize: vertical;
    overflow: auto;
    cursor: ns-resize;
    min-height: 150px;
}

.background {
    background-color: #e7e6e3;
}


.fit-content {
    width: fit-content;
    height: fit-content;
}











/* .embed-container {
    position: relative;
}

.more-options-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999999;
    background-color: red;

}

.context-menu {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 10;
    display: none;
}

.more-options-button:active + .context-menu,
.more-options-button:focus + .context-menu {
    display: block;
}


.bbbuton{
    background-color: red;
    top: 0;
    left: 0;
} */


/** BlockToolbar component **/
.block-toolbar-wrapper {
    width: 0;
    height: 0;
    position: relative;
    overflow: visible;
    margin: 0;
    padding: 0;
    display: contents;
    display: block;
}

.block-toolbar {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9;
    color: black !important;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: visibility 0.2s;
}

.block-toolbar .item {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-toolbar .item button {
    display: flex;
}

.block-toolbar button {
    color: black;
}

.block-toolbar .color-interactive-button {
    margin: 0;
    padding: 0;
}

/** End BlockToolbar component **/



.justify-left {
    justify-content: left;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}


.hidden {
    visibility: hidden !important;
}




figure {
    margin: 0;
    padding: 0;
}


.overflow-hidden {
    overflow: hidden;
}

/** Inline Code **/
.johannes-content-element code:not(pre code) {
    font-size: 1rem;
    background-color: #cccccc7a;
    padding: 0 3px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/** Content placeholder */

.content-placeholder {
    padding: 1rem;
    background-color: #e7e6e3;
    color: rgba(55, 53, 47, 0.5);
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 4px;
}

.content-placeholder .icon-wrapper {
    display: flex;
    align-items: center;
    margin-right: 8px;
}


/* end Content placeholder */



/** Code **/

pre {
    margin: 0;
}

pre code {
    border-radius: 4px;
}

.ignore-events {
    position: relative;
}

.code-block {
    position: relative;
}

.code-block select {
    position: absolute;
}

.code-block select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    padding: 4px 8px;
    font: inherit;
    color: inherit;
    background-repeat: no-repeat;
    background-position: right 10px center;
    color: white;
    display: none;
}

.code-block:hover select {
    display: block;
}



.code-block code {
    font-size: 1rem;

}



@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25%,
    75% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }
}

.shake-animation {
    animation: shake 0.6s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.blue-button {
    background-color: "#2383e2";
    color: "white";
    border: "none";
    padding: "3px";
    border-radius: "5px";
    font-weight: "500";
}


.block-selected {
    /* border: 2px dashed red; */
}

.separator {
    /* padding: 10px 0; */
}


.separator-wrapper {
    display: flex;
    align-items: center;
    /* height: 50px; */
}

.separator {
    flex-grow: 1;
    padding: 0 10px;
}

/* .separator::before,
.separator::after {
    content: "";
    flex-grow: 1;
} */



.separator-wrapper hr {
    /* Outros estilos */
    outline: none !important;
    /* Remova esta linha se estiver presente */
}

.separator-wrapper hr:focus {
    outline: none !important;
}

.separator-selected {
    /* outline: 2px solid blue; */
    border: none !important;
    outline: none !important;
    background-color: hsl(210 75% 50% / 1);
}


.separator-selected hr {
    /* outline: 2px solid blue; */
    /* border: 1px solid white !important; */

    /* background-color: hsl(210 75% 50% / 1); */
    color: white !important;
    border-color: white !important;


}