/** CSS reset */

.button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}



/** add block */
.add-block {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background-color: white;
    transition: all 0.3s ease;
    box-sizing: border-box;
    margin-left: 1.3rem;
}

.add-block-wrapper {
    width: 100%;
    height: 3.125rem;
}

.add-block-wrapper:hover .add-block {
    display: flex;
}

/** and add block */



/** List  **/
ol.johannes-content-element,
ul.johannes-content-element {
    padding-left: 1rem !important;
}



.johannes-content-element li>button {
    /* display: none; */
    display: none;
    position: absolute;
    margin-left: 10px;
    top: 0;

    flex-direction: row;
    align-items: start;
    justify-content: start;

}

.johannes-content-element li {
    position: relative;
}

.johannes-content-element li::before {
    margin-left: 4px;
}

.johannes-content-element li:hover>button {
    /* display: inline-block; */
    display: inline-flex;

}

p.johannes-content-element {
    display: inline-block;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.johannes-content-element .checkbox-list {
    list-style-type: none;
    padding-left: 0 !important;
}


.johannes-content-element .checkbox-list li {
    display: flex;
    flex-direction: row;
    justify-content: left;
}


.johannes-content-element ul.checkbox-list input[type="checkbox"]:checked+span {
    text-decoration: line-through;
}

ul.johannes-content-element:not(.checkbox-list),
ol.johannes-content-element:not(.checkbox-list) {
    padding-left: 1.5rem !important;
}

/** and list **/



.block>.drag-handler {
    color: #84888d;
    visibility: hidden;
    cursor: grab;
    align-self: start;

    /* background-color: pink; */
    padding-top: 0.33rem;
}

.drag-handler svg {
    /* background-color: red; */
}

.drag-handler svg use {
    /* background-color: blue; */
}

.drag-handler:active {
    cursor: grabbing;
}

.block {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;


    /* background-color: purple; */
}

.block:hover .drag-handler {
    visibility: visible;
    vertical-align: top;
    justify-content: start;
}

.drop-line {
    height: 1rem;
    background-color: #84888d;
    width: 100%;
}


.title h1 {
    margin-left: 1.3rem;
}

h1[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #84888d !important;
    display: block;
}

h1[data-placeholder]:focus:before {}


*[contenteditable="true"]:not(h1):empty:before {
    content: attr(data-placeholder);
    color: #84888acd;
    display: none;
}

*[contenteditable="true"]:not(h1):empty:hover:before {
    display: block;
}

cite[contenteditable="true"]:empty:before {
    display: block;
}

*[contenteditable="true"]:not(h1)[data-placeholder]:empty:focus:before {
    content: attr(data-placeholder);
    color: #84888acd !important;
    display: block;
}



h1 {
    font-size: 2.5rem;
    font-weight: bolder !important;
}

.johannes-editor {
    width: 100%;

}

.content {
    width: 100%;
    box-sizing: border-box;


}

pre {
    width: 100%;
}

[contenteditable] {
    outline: none;
}

body {
    height: 2000px;
    background-color: #f0f0f1 !important;

    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.editor {
    display: flex;
    margin-top: 80px;
}

p {
    color: #242424;
}


.block,
.block * {
    user-select: text;
}


.johannes-content-element {
    width: 100%;
    padding: 0;
    margin: 0;
    /* background-color: green; */
}


#johannesEditor {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.johannes-editor hr {
    width: 100%;
    height: 2px;
    visibility: visible;
    border: none;
    border-bottom: 1px solid rgba(55, 53, 47, 0.16);
}



.johannes-editor blockquote {
    margin: 0.5rem 0;
    padding-left: 20px;
    border-left: 4px solid rgb(55, 53, 47);
    font-style: italic
}

.johannes-editor cite {
    padding-top: 1rem !important;
    display: inline-block;
}


.johannes-editor cite::before {
    content: '— ';
}































#linkBox {
    border-radius: 2px;
    padding: 20px;
    background-color: #f9f9f9;


    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 -2px 4px rgba(0, 0, 0, 0.02),
        -2px 0 4px rgba(0, 0, 0, 0.02),
        2px 0 4px rgba(0, 0, 0, 0.02);


    border: 1px solid #d0d0d0;
    width: fit-content;
    z-index: 999999;
    color: rgb(120, 119, 116);
    border-radius: none;
}


#linkBox input {
    width: 316px;
    padding: 8px 40px 8px 16px;
    /* border-color: #d0d0d0; */

    border: 1px solid #949494;
    /* border-radius: 4px; */
    height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#linkBox input::selection,
#linkBox input:focus {
    border-radius: none;
}








/** Text formatting Bar **/



#textFormattingBar {
    justify-content: space-between;
    padding: 8px 16px;
    background-color: #f9f9f9;
    width: fit-content;
    z-index: 999999;
    position: absolute;
    user-select: none;
}

/* TODO: remove this*/
span {
    font-family: Arial, sans-serif;
}


#textFormattingBar .item {
    color: rgb(120, 119, 116);
    display: flex;
    align-items: center;
    gap: 10px;
}

#textFormattingBar .item>button {

    display: inline-flex;
    align-items: center;
}


#textFormattingBar select {
    color: rgb(120, 119, 116);
    border: none;
    font-size: 0.85rem;
    background-color: inherit;
}

.select-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select-wrapper ul {
    position: absolute;
    background: #f9f9f9;
    flex-direction: column;
    width: 180px;
    padding-bottom: 0.5rem;
    padding-left: 5px;
    padding-right: 5px;
    top: 2.2rem;
    color: rgb(55, 53, 47);
}

.select-wrapper ul li {
    /* display: flex;
    flex-direction: row !important;
    background-color: yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 3px 5px;
    border-radius: 3px;
    user-select: none !important;

    font-size: small !important;
    font-weight: 500;
}

.select-wrapper ul li .option-image {
    width: 22px;
    height: 22px;
    color: #242424;
    padding: 0 !important;
    margin: 0 !important;
}

.select-wrapper ul li .option-image svg {
    color: #4f4f4f;
    padding: 0 !important;
    margin: 0 !important;
}

.text-formatting-select-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#turnIntoButton span {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;

}

#turnIntoButton svg use {
    margin: auto;
}

.select-wrapper {
    position: relative;
    color: rgb(120, 119, 116);
}










code {
    background-color: #d0d0d0;
}




a:not([href]) {
    background-color: #d3e3fd;
}

.text-formatting-button-active {
    color: #2382e2;
}

.text-formatting-circle-active {
    border-color: #2382e2 !important;
}



#moreTextOptionSelect {
    position: absolute;
}

.moreTextOptionWrapper {
    position: relative;
}




.select-wrapper ul>h3 {
    font-size: small !important;
    color: #37352fa6;
    margin: 0;
    padding: 0;
    font-weight: 600 !important;
    margin-top: 5px;
    margin-bottom: 5px;
}


.bgc-red {
    background-color: #FDDEDE;
}

.bgc-green {
    background-color: #D7F7DC;
}

.bgc-blue {
    background-color: #D9EDF6;
}

.bgc-yellow {
    background-color: #FAF4D1;
}

.bgc-grey {
    background-color: #E1E0E0;
}

p,
mark {
    line-height: 1;
}

#turnIntoSelect .option-image {
    /* display: none !important; */
}

.border-less-image {
    width: 24px;
    height: 24px;
}




/** Block Options **/
.soft-box-shadow {
    margin: 0;
    padding: 0;
    border-radius: 2px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 -2px 4px rgba(216, 196, 196, 0.02),
        -2px 0 4px rgba(0, 0, 0, 0.02),
        2px 0 4px rgba(0, 0, 0, 0.02);

    border: 1px solid #d0d0d0;
}

.block-options-wrapper {
    z-index: 999999;
    position: absolute;
    display: none;
}

.block-options {
    width: 19rem;
    max-height: 19rem;
    overflow-y: auto;
}

.block-options {
    padding: 0 10px;
    background: #f9f9f9;
}

.block-options section h2 {
    font-size: small !important;
    color: #37352fa6;
    margin: 0;
    padding: 0;
    font-weight: 600 !important;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.block-options .option {
    padding: 0.3125rem 0.625rem;
    margin: 0.3125rem 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 0.6rem;
    border-radius: 3px;
}

.block-options .option:focus {
    outline: none;
    background-color: #e9e9e9;
    border: inherit;
}

.block-options-focused {
    outline: none;
    background-color: #e9e9e9;
    border: none;
}




.block-options .option:focus-visible {
    outline: none;
    background-color: #e9e9e9;
    border: inherit;
}

/* .option-hover:hover {
    background-color: #e9e9e9;
    box-shadow: 0px 0px 0px 2px #e9e9e9;
    border-radius: 1px;
    transition: 0.1s ease;
} */

/* .select-wrapper>button, */

/* #turnIntoButton,
#colorTextButton {
    padding-left: 4px;
} */

#turnIntoButton:not([disabled]):hover,
#colorTextButton:not([disabled]):hover,
#moreTextOptionButton:not([disabled]):hover,
#textFormattingBar .item>button:not([disabled]):hover {
    background-color: #e9e9e9;
    box-shadow: 0px 0px 0px 2px #e9e9e9;
    border-radius: 1px;
    transition: 0.1s ease;
}

ul .option-hover:not([disabled]):hover {
    background-color: #e9e9e9;
    border-radius: 1px;
    transition: 0.1s ease;
}


.option[focused="true"] {
    background-color: #bde4ff;
}





.option-image {
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #4f4f4f;

    /* color: #84888d; */
    /* color: #242424; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    background-color: #ffff;
    box-sizing: border-box;
}

.option-image img {
    max-width: 2.875rem;
    max-height: 2.875rem;
}

.option-image svg {
    margin: 0;
    padding: 0;
    padding: 0.625rem;
    box-sizing: border-box;

}

.option-text * {
    margin: 0;
    padding: 0;

}

.option-text .block-title {
    font-size: small !important;
    font-weight: 500;
}

.option-text .block-description {
    font-size: small !important;
}

/** End Block Options **/



#deleteBlockButton:hover svg,
#deleteBlockButton:hover {
    color: rgb(235, 87, 87) !important;
}







.johannes-editor *::selection {
    background-color: rgba(211, 227, 253, 0.5) !important;
}

.johannes-editor mark,
.johannes-editor * {
    line-height: 1.5 !important;
}

.option {
    justify-content: space-between;
}

.text-option {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}




:root {
    font-size: 16px;
    /* Tamanho padrão */
}

/* Para telas com densidade média */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    :root {
        font-size: 18px;
        /* Aumenta o tamanho da fonte para telas de alta densidade */
    }
}

/* Para telas com altíssima densidade */
@media only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (min--moz-device-pixel-ratio: 3),
only screen and (min-resolution: 288dpi),
only screen and (min-resolution: 3dppx) {
    :root {
        font-size: 20px;
        /* Ainda maior para telas de densidade muito alta */
    }
}