.drag-handler {
    cursor: grab !important;
}

.drag-handler:active {
    cursor: grabbing !important;
}

.draggable-block {
    position: relative;
    width: calc(100% + 10rem);
    box-sizing: border-box;
    margin-left: -5rem;
    margin-right: -5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.drag-handler {
    position: absolute;
    left: 2.5rem;
    display: none;
    color: #84888d;
    padding-top: 0;
    padding-right: 0;
}

.draggable-block:hover .drag-handler {
    display: block;
}

.drop-line {
    height: 1rem;
    background-color: #84888d;
    width: 100%;
}




.add-block {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background-color: white;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.add-block-wrapper {
    width: 100%;
    height: 50px;

}

.add-block-wrapper:hover .add-block {
    display: flex;

}

h1[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #84888d !important;
    display: block;
}

h1[data-placeholder]:focus:before {}


*[contenteditable="true"]:not(h1):empty:before {
    content: attr(data-placeholder);
    color: #84888acd;
    display: none;
}

*[contenteditable="true"]:not(h1):empty:hover:before {
    display: block;
}

*[contenteditable="true"]:not(h1)[data-placeholder]:empty:focus:before {
    content: attr(data-placeholder);
    color: #84888acd !important;
    display: block;
}




h1 {
    font-size: 2.5rem;
    font-weight: bolder !important;
}

.block-options {
    width: 480px;
}

.editor-left {
    width: 100%;

}

.content {
    width: 100%;
    box-sizing: border-box;


}

pre {
    width: 100%;
}

[contenteditable] {
    outline: none;
}

.content-area {
    height: 2000px;
    background-color: #f0f0f1 !important;

    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.editor {

    display: flex;
   
    margin-top: 80px;
}

.block-options {
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    margin-top: 10px;
    position: absolute;
    display: none;
}

.block-options .option {
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
}

.block-options .option:hover {
    background-color: #e9e9e9;
}


p {
    font-size: 20px !important;
    color: #242424;
}


.draggable-block,
.draggable-block * {
    user-select: text;
}