/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css ***!
  \*****************************************************************/
/** CSS reset */

.button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}




.draggable-block>.drag-handler {
    color: #84888d;
    visibility: hidden;
    cursor: grab;
    align-self: start;

    /* background-color: pink; */
    padding-top: 0.33rem;
}

.drag-handler svg {
    /* background-color: red; */
}

.drag-handler svg use {
    /* background-color: blue; */
}

.drag-handler:active {
    cursor: grabbing;
}

.draggable-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;


    /* background-color: purple; */
}

.draggable-block:hover .drag-handler {
    visibility: visible;
    vertical-align: top;
    justify-content: start;
}

.drop-line {
    height: 1rem;
    background-color: #84888d;
    width: 100%;
}


.title h1 {
    margin-left: 1.3rem;
}

h1[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #84888d !important;
    display: block;
}

h1[data-placeholder]:focus:before {}


*[contenteditable="true"]:not(h1):empty:before {
    content: attr(data-placeholder);
    color: #84888acd;
    display: none;
}

*[contenteditable="true"]:not(h1):empty:hover:before {
    display: block;
}

*[contenteditable="true"]:not(h1)[data-placeholder]:empty:focus:before {
    content: attr(data-placeholder);
    color: #84888acd !important;
    display: block;
}

h1 {
    font-size: 2.5rem;
    font-weight: bolder !important;
}

.johannes-editor {
    width: 100%;

}

.content {
    width: 100%;
    box-sizing: border-box;


}

pre {
    width: 100%;
}

[contenteditable] {
    outline: none;
}

body {
    height: 2000px;
    background-color: #f0f0f1 !important;

    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.editor {
    display: flex;
    margin-top: 80px;
}

p {
    color: #242424;
}


.draggable-block,
.draggable-block * {
    user-select: text;
}


.johannes-content-element {
    width: 100%;
    padding: 0;
    margin: 0;
    /* background-color: green; */
}


.editor-wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}



.johannes-editor hr {
    width: 100%;
    height: 2px;
    visibility: visible;
    border: none;
    border-bottom: 1px solid rgba(55, 53, 47, 0.16);
}
/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/add-block.css ***!
  \*********************************************************************/
.add-block {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background-color: white;
    transition: all 0.3s ease;
    box-sizing: border-box;
    margin-left: 1.3rem;
}

.add-block-wrapper {
    width: 100%;
    height: 3.125rem;
}

.add-block-wrapper:hover .add-block {
    display: flex;
}
/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/switch-block.css ***!
  \************************************************************************/
.block-options-wrapper {
    z-index: 999999;
    /* box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px; */
    position: absolute;
    display: none;
    /* border: 2px solid #ccc; */
    /* background-color: pink; */
    margin: 0;
    padding: 0;

}

/* ::-webkit-scrollbar {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 6px;
} */

.block-options {
    /* width: 324px; 20.25rem */
    width: 19rem;
    /* height: 384px; */
    /* max-height: 340px; */

    max-height: 19rem;

    overflow-y: auto;
    /* border-radius: 10px; */
}

.block-options {
    padding: 10px;
    background: #f9f9f9;
    border: 2px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    /* position: absolute; */
}

.block-options section h2 {
    font-size: small ;
    padding-left: 0.625rem;
    color: #37352fa6;
}

.block-options .option {
    padding: 0.3125rem 0.625rem;
    margin: 0.3125rem 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 0.6rem;
    border-radius: 3px;
}

.block-options .option:focus {
    outline: none;
    background-color: #e9e9e9;
    border: inherit;
}

.block-options-focused {
    outline: none;
    background-color: #e9e9e9;
    border: inherit;
}




.block-options .option:focus-visible{
    outline: none;
    background-color: #e9e9e9;
    border: inherit;
}

.block-options .option:hover {
    background-color: #e9e9e9;
}


.option[focused="true"] {
    background-color: #bde4ff; /* estilo de foco personalizado */
}





.option-image {
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 3px;
    /* background-color: red; */
    border: 1px solid #ccc;
    color: #4f4f4f;

    /* color: #84888d; */
    /* color: #242424; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    background-color: #ffff;
    box-sizing: border-box;
}

.option-image img {
    /* max-width: 46px; 2,875rem */
    max-width: 2.875rem;
    max-height: 2.875rem;
}

.option-image svg {
    /* padding: 10px;  0.625rem */
    margin: 0;
    padding: 0;
    padding: 0.625rem;
    box-sizing: border-box;
    
}

.option-text {
    /* background-color: yellow; */
    /* font-size: 0.5rem; */

}

.option-text * {
    margin: 0;
    padding: 0;

}

.option-text .block-title {
    font-size: small !important;
    font-weight: 500;
}

.option-text .block-description {
    font-size: small !important;
}
/*!****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/list.css ***!
  \****************************************************************/
 ol,
 ul {
     /* list-style-position: inside;
     background-color: pink; */

     padding-left: 1rem !important;
 }


 li {
     /* list-style-position: inside; */
     /* display: inline-block; */


 }

 li::before {
     /* display: inline !important; */
 }


 /* li::before {
     content: '';
     display: inline-block;
     width: 10px;

 }


 li::marker {
     color: blueviolet !important;
 } */

 li>button {
     /* display: none; */
     display: none;
     position: absolute;
     margin-left: 10px;
     top: 0;

     flex-direction: row;
     align-items: start;
     justify-content: start;

 }

 li {
     position: relative;
 }

 li::before {
     margin-left: 4px;
 }

 li:hover>button {
     /* display: inline-block; */
     display: inline-flex;

 }

 li p {
     display: inline-block;
     line-height: 1;
     margin: 0;
     padding: 0;
 }

 .todo-list {
     list-style-type: none;
     padding-left: 0 !important;
 }


 .todo-list li {
     display: flex;
     flex-direction: row;
     justify-content: left;
 }


 ul.todo-list input[type="checkbox"]:checked+span {
     text-decoration: line-through;
 }

 ul:not(.todo-list),
 ol:not(.todo-list) {
     padding-left: 1.5rem !important;
 }
