 ol,
 ul {
     /* list-style-position: inside;
     background-color: pink; */

     padding-left: 1rem !important;
 }


 li {
     /* list-style-position: inside; */
     /* display: inline-block; */


 }

 li::before {
     /* display: inline !important; */
 }


 /* li::before {
     content: '';
     display: inline-block;
     width: 10px;

 }


 li::marker {
     color: blueviolet !important;
 } */

 li>button {
     /* display: none; */
     display: none;
     position: absolute;
     margin-left: 10px;
     top: 0;

     flex-direction: row;
     align-items: start;
     justify-content: start;

 }

 li {
     position: relative;
 }

 li::before {
     margin-left: 4px;
 }

 li:hover>button {
     /* display: inline-block; */
     display: inline-flex;

 }

 li p {
     display: inline-block;
     line-height: 1;
     margin: 0;
     padding: 0;
 }

 .todo-list {
     list-style-type: none;
     padding-left: 0 !important;
 }


 .todo-list li {
     display: flex;
     flex-direction: row;
     justify-content: left;
 }


 ul.todo-list input[type="checkbox"]:checked+span {
     text-decoration: line-through;
 }

 ul:not(.todo-list),
 ol:not(.todo-list) {
     padding-left: 1.5rem !important;
 }