ol.johannes-content-element,
ul.johannes-content-element {
    padding-left: 1rem !important;
}



.johannes-content-element li>button {
    /* display: none; */
    display: none;
    position: absolute;
    margin-left: 10px;
    top: 0;

    flex-direction: row;
    align-items: start;
    justify-content: start;

}

.johannes-content-element li {
    position: relative;
}

.johannes-content-element li::before {
    margin-left: 4px;
}

.johannes-content-element li:hover>button {
    /* display: inline-block; */
    display: inline-flex;

}

p.johannes-content-element {
    display: inline-block;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.johannes-content-element .checkbox-list {
    list-style-type: none;
    padding-left: 0 !important;
}


.johannes-content-element .checkbox-list li {
    display: flex;
    flex-direction: row;
    justify-content: left;
}


.johannes-content-element ul.checkbox-list input[type="checkbox"]:checked+span {
    text-decoration: line-through;
}

ul.johannes-content-element:not(.checkbox-list),
ol.johannes-content-element:not(.checkbox-list) {
    padding-left: 1.5rem !important;
}