/** CSS reset */

.button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}




.draggable-block>.drag-handler {
    color: #84888d;
    visibility: hidden;
    cursor: grab;
    align-self: start;

    /* background-color: pink; */
    padding-top: 0.33rem;
}

.drag-handler svg {
    /* background-color: red; */
}

.drag-handler svg use {
    /* background-color: blue; */
}

.drag-handler:active {
    cursor: grabbing;
}

.draggable-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;


    /* background-color: purple; */
}

.draggable-block:hover .drag-handler {
    visibility: visible;
    vertical-align: top;
    justify-content: start;
}

.drop-line {
    height: 1rem;
    background-color: #84888d;
    width: 100%;
}


.title h1 {
    margin-left: 1.3rem;
}

h1[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #84888d !important;
    display: block;
}

h1[data-placeholder]:focus:before {}


*[contenteditable="true"]:not(h1):empty:before {
    content: attr(data-placeholder);
    color: #84888acd;
    display: none;
}

*[contenteditable="true"]:not(h1):empty:hover:before {
    display: block;
}

cite[contenteditable="true"]:empty:before {
    display: block;
}

*[contenteditable="true"]:not(h1)[data-placeholder]:empty:focus:before {
    content: attr(data-placeholder);
    color: #84888acd !important;
    display: block;
}



h1 {
    font-size: 2.5rem;
    font-weight: bolder !important;
}

.johannes-editor {
    width: 100%;

}

.content {
    width: 100%;
    box-sizing: border-box;


}

pre {
    width: 100%;
}

[contenteditable] {
    outline: none;
}

body {
    height: 2000px;
    background-color: #f0f0f1 !important;

    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.editor {
    display: flex;
    margin-top: 80px;
}

p {
    color: #242424;
}


.draggable-block,
.draggable-block * {
    user-select: text;
}


.johannes-content-element {
    width: 100%;
    padding: 0;
    margin: 0;
    /* background-color: green; */
}


.editor-wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.johannes-editor hr {
    width: 100%;
    height: 2px;
    visibility: visible;
    border: none;
    border-bottom: 1px solid rgba(55, 53, 47, 0.16);
}



.johannes-editor blockquote {
    margin: 0.5rem 0;
    padding-left: 20px; 
    border-left: 4px solid rgb(55, 53, 47);
    font-style: italic
}

.johannes-editor cite {
    padding-top: 1rem !important;
    display: inline-block;
}


.johannes-editor cite::before {
    content: '— ';
}
