/** CSS reset */

.button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}




.draggable-block>.drag-handler {
    color: #84888d;
    visibility: hidden;
    cursor: grab;
    align-self: start;

    /* background-color: pink; */
    padding-top: 0.33rem;
}

.drag-handler svg {
    /* background-color: red; */
}

.drag-handler svg use {
    /* background-color: blue; */
}

.drag-handler:active {
    cursor: grabbing;
}

.draggable-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;


    /* background-color: purple; */
}

.draggable-block:hover .drag-handler {
    visibility: visible;
    vertical-align: top;
    justify-content: start;
}

.drop-line {
    height: 1rem;
    background-color: #84888d;
    width: 100%;
}


.title h1 {
    margin-left: 1.3rem;
}

h1[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #84888d !important;
    display: block;
}

h1[data-placeholder]:focus:before {}


*[contenteditable="true"]:not(h1):empty:before {
    content: attr(data-placeholder);
    color: #84888acd;
    display: none;
}

*[contenteditable="true"]:not(h1):empty:hover:before {
    display: block;
}

cite[contenteditable="true"]:empty:before {
    display: block;
}

*[contenteditable="true"]:not(h1)[data-placeholder]:empty:focus:before {
    content: attr(data-placeholder);
    color: #84888acd !important;
    display: block;
}



h1 {
    font-size: 2.5rem;
    font-weight: bolder !important;
}

.johannes-editor {
    width: 100%;

}

.content {
    width: 100%;
    box-sizing: border-box;


}

pre {
    width: 100%;
}

[contenteditable] {
    outline: none;
}

body {
    height: 2000px;
    background-color: #f0f0f1 !important;

    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.editor {
    display: flex;
    margin-top: 80px;
}

p {
    color: #242424;
}


.draggable-block,
.draggable-block * {
    user-select: text;
}


.johannes-content-element {
    width: 100%;
    padding: 0;
    margin: 0;
    /* background-color: green; */
}


.editor-wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.johannes-editor hr {
    width: 100%;
    height: 2px;
    visibility: visible;
    border: none;
    border-bottom: 1px solid rgba(55, 53, 47, 0.16);
}



.johannes-editor blockquote {
    margin: 0.5rem 0;
    padding-left: 20px;
    border-left: 4px solid rgb(55, 53, 47);
    font-style: italic
}

.johannes-editor cite {
    padding-top: 1rem !important;
    display: inline-block;
}


.johannes-editor cite::before {
    content: '— ';
}































#linkBox {
    border-radius: 2px;
    padding: 20px;
    background-color: #f9f9f9;


    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 -2px 4px rgba(0, 0, 0, 0.02),
        -2px 0 4px rgba(0, 0, 0, 0.02),
        2px 0 4px rgba(0, 0, 0, 0.02);


    border: 1px solid #d0d0d0;
    width: fit-content;
    z-index: 999999;
    color: rgb(120, 119, 116);
    border-radius: none;
}


#linkBox input {
    width: 316px;
    padding: 8px 40px 8px 16px;
    /* border-color: #d0d0d0; */

    border: 1px solid #949494;
    /* border-radius: 4px; */
    height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#linkBox input::selection,
#linkBox input:focus {
    border-radius: none;
}








/** Text formatting Bar **/



#textFormattingBar {
    /* display: flex; */
    justify-content: space-between;
    padding: 8px 16px;
    background-color: #f9f9f9;

    background: #f9f9f9 !important;

    width: fit-content;
    z-index: 999999;
    position: absolute;

}


span {
    font-family: Arial, sans-serif;
}



/* #textFormattingBar .xpy {
    display: inline-block;
}*/

#textFormattingBar .item {
    color: rgb(120, 119, 116);
    display: flex;
    align-items: center;
    gap: 10px;
}

#textFormattingBar .item>button {

    display: inline-flex;
    align-items: center;
}


/*
#textFormattingBar .item .xpy {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 5px;
} */


#textFormattingBar .item .xpy :hover {
    background-color: rgba(55, 53, 47, 0.08);
    border-radius: 3px;
}

#textFormattingBar select {
    color: rgb(120, 119, 116);
    border: none;
    font-size: 0.85rem;
    /* background-position: calc(100% - 4px) center; */
    background-color: inherit;

    /* background-color: red; */

    /* display: flex;
    justify-content: start;
    text-align: center; */
}


#textFormattingBar select option {
    /* padding: 10px 15px ; */
}

.select-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select-wrapper ul {
    position: absolute;
    background: #f9f9f9;
    flex-direction: column;
    width: 180px;
    padding-bottom: 0.5rem;
    padding-left: 5px;
    padding-right: 5px;
    top: 2.2rem;
    color: rgb(55, 53, 47);
}

.select-wrapper ul li {
    /* display: flex;
    flex-direction: row !important;
    background-color: yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 3px 5px;
    border-radius: 3px;
    user-select: none !important;

    font-size: small !important;
    font-weight: 500;
}

.select-wrapper ul li .option-image {
    width: 22px;
    height: 22px;
    color: #242424;
    padding: 0 !important;
    margin: 0 !important;
}

.select-wrapper ul li .option-image svg {
    color: #4f4f4f;
    padding: 0 !important;
    margin: 0 !important;
}

.text-formatting-select-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#turnIntoButton span {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;

}

#turnIntoButton svg use {
    margin: auto;
}

.select-wrapper {
    position: relative;
    color: rgb(120, 119, 116);
}










code {
    background-color: #d0d0d0;
}




a:not([href]) {
    background-color: #d3e3fd;
}

.text-formatting-button-active {
    color: blue;
}




/* #Seeessdas svg{
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: red;
    vertical-align: center !important;
    flex-direction: row !important;
}

#Seeessdas svg use{
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: red;
    vertical-align: center !important;
    flex-direction: row !important;
} */



#moreTextOptionSelect {
    position: absolute;
}

.moreTextOptionWrapper {
    position: relative;
}




.select-wrapper ul>h3 {
    font-size: small !important;
    color: #37352fa6;
    margin: 0;
    padding: 0;
    font-weight: 600 !important;
    margin-top: 5px;
    margin-bottom: 5px;
}


.bgc-red{
    background-color: #FDDEDE;
}

.bgc-green{
    background-color: #D7F7DC;
}

.bgc-blue{
    background-color: #D9EDF6;
}

.bgc-yellow{
    background-color: #FAF4D1;
}

.bgc-grey{
    background-color: #E1E0E0;
}

p, mark{
    line-height: 1;
}

#turnIntoSelect .option-image{
    display: none !important;
}

.border-less-image{
    width: 24px;
    height: 24px;
}